
@import ../../vendor/pretty-pieces.sass/lib/pretty-pieces.sass


$bounding_box_color: rgba(0,0,0, 0.3)

body, html
  padding: 0
  margin: 0
  background: #222

.button
  width: 100%
  height: 100%
  display: block
  margin: 0 auto
  padding: 0
  text-align: center
  cursor: move

  &.large, .medium, .small, .micro
    padding: 0

.bounding-box
  padding: 5px
  border: 3px dashed  $bounding_box_color
  cursor: move
  position: absolute
  +border-radius(5px)

  a.close-box
    background: url(../images/close.png) top left no-repeat
    width: 34px
    height: 34px
    text-indent: 9000em
    color: transparent
    position: absolute
    top: -18px 
    right: -16px 
    display: block

  &.ui-state-disabled
    border: 3px dashed transparent 
    opacity: 1.0

    a.close-box
      display: none


.ui-resizable-handle
  background: $bounding_box_color 


.inset-button-group
  margin-top: 20px
  width: 350px
  height: 60px

  &.blue
    +inset-button-group(5px, $blue, 20px)
  &.green
    +inset-button-group(5px, $green, 20px)
  &.red
    +inset-button-group(5px, $red, 20px)
  &.purple
    +inset-button-group(5px, $purple, 20px)
  &.gray
    +inset-button-group(5px, $light-gray, 20px)
    a
      :color #333
      :text-shadow none
  &.dark-gray
    +inset-button-group(5px, $dark-gray, 20px)

  &.small
    a
      font-size: 14px
      letter-spacing: 0px


.button
  &.large
    width: 120px
    height: 30px

.canvas
  background: #fff
  margin: 20px auto 20px
  width: 80%
  padding: 20px
  position: relative
  height: 800px
  overflow: scroll


.top-menu
  background: #111
  height: 100px 
  width: 100%
  border-bottom: 3px solid rgba(255,255,255,0.3)
  margin-bottom: 20px

  li
    float: left
    list-style: none
    margin-right: 15px


.gradient-box.small
  height: 70px
  padding: 5px
  margin: 0

  h3
    font-size: 36px

  small
    font-size: 16px

.create-widget
  cursor: pointer
